In [35]:
import pandas as pd
df = pd.read_excel('../z20_data/score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  Javascript
4번    김수찬  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  단지고  202   80  100   95  85  85          C+
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    송근열  단지고  190  100   85   90  94  95          c#

In [36]:
import random

In [37]:
# 0~5까지의 함수를 랜덤으로 입력
df['요일'] = 0
for i in range(8):
    df.iloc[i,9] = random.randint(0,6)
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기  요일
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python   3
2번    강태원  구로고  184   40   35   50  55  25        Java   6
3번    강호림  구로고  168   80   75   70  80  75  Javascript   1
4번    김수찬  구로고  187   40   60   70  75  80         NaN   6
5번    김재욱  구로고  188   15   20   10  35  10         NaN   5
6번    박동현  단지고  202   80  100   95  85  85          C+   2
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON   0
8번    송근열  단지고  190  100   85   90  94  95          c#   5

In [33]:
# 0=일요일, 123456=토요일
def day(dd):
    if dd==1: return '월요일'
    elif dd==2: return '화요일'
    elif dd==3: return '수요일'
    elif dd==4: return '목요일'
    elif dd==5: return '금요일'
    elif dd==6: return '토요일'
    else: return '일요일'

In [34]:
df['요일'] =df['요일'].apply(day)
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기   요일
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python  일요일
2번    강태원  구로고  184   40   35   50  55  25        Java  화요일
3번    강호림  구로고  168   80   75   70  80  75  Javascript  월요일
4번    김수찬  구로고  187   40   60   70  75  80         NaN  화요일
5번    김재욱  구로고  188   15   20   10  35  10         NaN  화요일
6번    박동현  단지고  202   80  100   95  85  85          C+  금요일
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON  토요일
8번    송근열  단지고  190  100   85   90  94  95          c#  토요일

In [38]:
# by 창민
date = ['월','화','수','목','금','토','일']
df['요일'] =df['요일'].apply(lambda x : date[x]+'요일')
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기   요일
지원번호
1번    강나래  구로고  197   90   85  100  95  85      Python  목요일
2번    강태원  구로고  184   40   35   50  55  25        Java  일요일
3번    강호림  구로고  168   80   75   70  80  75  Javascript  화요일
4번    김수찬  구로고  187   40   60   70  75  80         NaN  일요일
5번    김재욱  구로고  188   15   20   10  35  10         NaN  토요일
6번    박동현  단지고  202   80  100   95  85  85          C+  수요일
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON  월요일
8번    송근열  단지고  190  100   85   90  94  95          c#  토요일