In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('stu.csv',skiprows=1)

df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        sw특기
0   1번  강나래  구로고  197   90   85  100  95  85      Python
1   2번  강태원  구로고  184   40   35   50  55  25        Java
2   3번  강호림  구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬  구로고  187   40   60   70  75  80         NaN
4   5번  김재욱  구로고  188   15   20   10  35  10         NaN
5   6번  박동현  단지고  202   80  100   95  85  85          C+
6   7번  박혜정  단지고  188   55   65   45  40  35      PYTHON
7   8번  송근열  단지고  190  100   85   90  94  95          c#