In [23]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 10
matplotlib.rcParams['axes.unicode_minus'] = False

In [33]:
import pandas as pd
df = pd.read_excel('../z20_data/20240514인구.xlsx', thousands=',', skiprows=3,index_col='행정기관',usecols='b,e:y')
# for i in range(df.shape[0]):
#     df.iloc[i].str.replace(',','').astype('int64[pyarrow]')
# df.head()
df.head()

c:\Users\KOREAVC\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,2052227,2097254,1554976,1038388,713448,507915,212726,54180,8880,1307
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,338380,343434,271757,188172,136287,93848,36511,9411,1703,276
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,126702,143246,119500,83807,55948,36851,13453,3103,420,72
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,96673,96632,71324,49675,31508,23021,9435,2197,299,25
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,121717,124470,84563,52236,35223,22843,9444,2410,482,82

In [34]:
df['bot'] = df['0~4세']+df['5~9세']+df['10~14세']
df['mid'] = df['15~19세']+df['20~24세']+df['25~29세']+df['30~34세']+df['35~39세']+df['40~44세']+df['45~49세']+df['50~54세']+df['55~59세']+df['60~64세']
df['top'] = df['65~69세']+df['70~74세']+df['75~79세']+df['80~84세']+df['85~89세']+df['90~94세']+df['95~99세']+df['100세 이상']
df.head(5)

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,bot,mid,top
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,1038388,713448,507915,212726,54180,8880,1307,3010190,18529528,4091820
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,188172,136287,93848,36511,9411,1703,276,463732,3366042,737965
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,83807,55948,36851,13453,3103,420,72,174164,1131431,313154
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,49675,31508,23021,9435,2197,299,25,135298,839435,187484
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,52236,35223,22843,9444,2410,482,82,177285,1101732,207283

In [36]:
x = df.index
y1 = df['bot']
y2 = df['mid']
y3 = df['top']

Index(['전국  ', '서울특별시  ', '부산광역시  ', '대구광역시  ', '인천광역시  ', '광주광역시  ',
       '대전광역시  ', '울산광역시  ', '세종특별자치시  ', '경기도  ', '강원도  ', '충청북도  ', '충청남도  ',
       '전라북도  ', '전라남도  ', '경상북도  ', '경상남도  ', '제주특별자치도  '],
      dtype='object', name='행정기관')

In [ ]:
plt.bar(x,y1,label='0~14세')
plt.bar(x,y2,label='14~60세')
plt.bar(x,y3,label='60세 이상')
plt.legend(loc='upper center')

for i, txt in enumerate(y1):
    plt.text(x[i],y1[i],txt,ha='center')
for i, txt in enumerate(y2):
    plt.text(x[i],y1[i]+y2[i],txt,ha='center')
for i, txt in enumerate(y3):
    plt.text(x[i],y1[i]+y2[i]+y3[i],txt,ha='center')